.store-card-horizontal{
  display:flex;              /* لتصبح أفقية */
  align-items:center;        /* محاذاة الشعار والاسم عموديًا */
  background:#fff;
  border-radius:12px;
  padding:10px;
  margin-bottom:8px;
  box-shadow:0 2px 6px rgba(0,0,0,0.08);
  cursor:pointer;
  transition:transform 0.1s;
}

.store-card-horizontal:active{
  transform:scale(0.97);     /* تأثير ضغط    margin: 5px 0;
    font-size: 16px;
}

.card p {
    font-size: 12px;
    color: #555;
}

.hidden {
    display: none;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #eee;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.bottom-nav button {
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}
